.footer
      .bottom
        .bottombox
          .ulblock
            .bottomtitle Use Eventbrite
            |         
            ul
              li
                a.bottom-text(href='#') How It Works
              |           
              li
                a.bottom-text(href='#') For Large &amp; Comples Events
              |           
              li
                a.bottom-text(href='#') Pricing
              |           
              li
                a.bottom-text(href='#') Community
              |           
              li
                a.bottom-text(href='#') Eventbrite Mobile App
              |           
              li
                a.bottom-text(href='#') Eventbrite Check-In App
              |           
              li
                a.bottom-text(href='#') Eventbrite Spectrum
              |           
              li
                a.bottom-text(href='#') Rally - Fun Things To Do
              |           
              li
                a.bottom-text(href='#') Event Organuzing Resources
              |           
              li
                a.bottom-text(href='#') Sitemap
          |       
          .ulblock
            .bottomtitle Plan Events
            |         
            ul
              li
                a.bottom-text(href='#') Conference Management
              |           
              li
                a.bottom-text(href='#') Software
              |           
              li
                a.bottom-text(href='#') Reunions
              |           
              li
                a.bottom-text(href='#') Nonprofits &amp; Fundraisers
              |           
              li
                a.bottom-text(href='#') Eventbrite Reviews
              |           
              li
                a.bottom-text(href='#') Sell Tickets
              |           
              li
                a.bottom-text(href='#') Event Management &amp; Planning
              |           
              li
                a.bottom-text(href='#') Online Event Registration
              |           
              li
                a.bottom-text(href='#') Online RSVP
              |           
              li
                a.bottom-text(href='#') Venue Booking &amp; Management
              |           
              li
                a.bottom-text(href='#') Event Promotion
          |       
          .ulblock
            .bottomtitle Find Events
            |         
            ul
              li
                a.bottom-text(href='#') Boston Events
              |           
              li
                a.bottom-text(href='#') Chicago Events
              |           
              li
                a.bottom-text(href='#') Denver Events
              |           
              li
                a.bottom-text(href='#') Houston Events
              |           
              li
                a.bottom-text(href='#') Los Angeles Events
              |           
              li
                a.bottom-text(href='#') Nashville Events
              |           
              li
                a.bottom-text(href='#') New York Events
              |           
              li
                a.bottom-text(href='#') San Diego Events
              |           
              li
                a.bottom-text(href='#') San Francisco Events
              |           
              li
                a.bottom-text(href='#') All Cities
          |       
          .ulblock
            .bottomtitle Connect With Us
            |         
            ul
              li
                i.fa.fa-envelope(aria-hidden='true')
                a.bottom-text(href='#') Contact Support
              |           
              li
                i.fa.fa-envelope(aria-hidden='true')
                a.bottom-text(href='#') Contact Sales
              |           
              li
                i.fa.fa-twitter(aria-hidden='true')
                a.bottom-text(href='#') Twitter
              |           
              li
                i.fa.fa-facebook-square(aria-hidden='true')
                a.bottom-text(href='#') Facebook
              |           
              li
                i.fa.fa-info(aria-hidden='true')
                a.bottom-text(href='#') Linkedln
              |           
              li
                i.fa.fa-instagram(aria-hidden='true')
                a.bottom-text(href='#') Instagram
              |           
              li
                i.fa.fa-google(aria-hidden='true')
                a.bottom-text(href='#') Google+
        |     
        .line
          hr
        |     
        .bottombox2
          .bottomtitle Country
          |       
          ul
            li.Con
              a.Country(href='#') Argentina
            |         
            li.Con
              a.Country(href='#') Austrailia
            |         
            li.Con
              a.Country(href='#') Brasil
            |         
            li.Con
              a.Country(href='#') Canada (EN)
            |         
            li.Con
              a.Country(href='#') Canada (FR)
            |         
            li.Con
              a.Country(href='#') Chile
            |         
            li.Con
              a.Country(href='#') Colombia
            |         
            li.Con
              a.Country(href='#') Deutschland
            |         
            li.Con
              a.Country(href='#') Espana
            |         
            li.Con
              a.Country(href='#') France
            |         
            li.Con
              a.Country(href='#') Hong Kong
            |         
            li.Con
              a.Country(href='#') Ireland
            |         
            li.Con
              a.Country(href='#') Italia
            |         
            li.Con
              a.Country(href='#') Mexico
            |         
            li.Con
              a.Country(href='#') Nederalnd
            |         
            li.Con
              a.Country(href='#') New Zealand
            |         
            li.Con
              a.Country(href='#') Peru
            |         
            li.Con
              a.Country(href='#') Portugal
            |         
            li.Con
              a.Country(href='#') Singapore
            |         
            li.Con
              a.Country(href='#') United Kingdom
            |         
            li.Con
              a.Country(href='#') Unite States
        |     
        .line
          hr
        |     
        .mobilebottom
          ul
            li.Mob
              a.mobcls(href='#') How It Works
            |         
            li.Mob
              a.mobcls(href='#') Pricing
            |         
            li.Mob
              a.mobcls(href='#') Contact Support
            |         
            li.Mob
              a.mobcls(href='#') Contact Sales
            |         
            li.Mob
              a.mobcls(href='#') About
            |         
            li.Mob
              a.mobcls(href='#') Blog
            |         
            li.Mob
              a.mobcls(href='#') Help
            |         
            li.Mob
              a.mobcls(href='#') Careers
            |         
            li.Mob
              a.mobcls(href='#') Press
            |         
            li.Mob
              a.mobcls(href='#') Security
            |         
            li.Mob
              a.mobcls(href='#') Developers
            |         
            li.Mob
              a.mobcls(href='#') Terms
            |         
            li.Mob
              a.mobcls(href='#') Privacy
            |         
            li.Mob
              a.mobcls(href='#') Cookies
        |     
        .bottombox2
          ul.Menu2
            li.Con
              a.Last(href='#') About
            |         
            li.Con
              a.Last(href='#') Blog
            |         
            li.Con
              a.Last(href='#') Help
            |         
            li.Con
              a.Last(href='#') Careers
            |         
            li.Con
              a.Last(href='#') Press
            |         
            li.Con
              a.Last(href='#') Security
            |         
            li.Con
              a.Last(href='#') Developers
            |         
            li.Con
              a.Last(href='#') Terms
            |         
            li.Con
              a.Last(href='#') Privacy
            |         
            li.Con
              a.Last(href='#') Cookies
        |     
        .btn-secondary-opdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        |       
        select.form-control3
          option United States
          |                                   
          option Argentina
          |                                   
          option Austrailia
          |                                   
          option Brasil
          |                                   
          option Canada (EN)
          |                                   
          option Canada (FR)
          |                                   
          option Deutschland
          |                                   
          option Espana
          |                                   
          option France
          |                                   
          option Hong Kong
          |                                   
          option Ireland
          |                                   
          option Italia
          |                                   
          option Nederalnd
          |                                   
          option New Zealand
          |                                   
          option Portugal
          |                                   
          option Singapore
          |                                   
          option United Kingdom
        |       
        .line
          hr
        |       
        .copy &#x24D2; 2017 EventBrite