extends layout

block content



    // 이미지
    .jumbotron
      #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='images/1.jpg', alt='First slide')
          |         
          .carousel-item
            img.d-block.w-100(src='images/2.jpg', alt='Second slide')
          |         
          .carousel-item
            img.d-block.w-100(src='images/3.jpg', alt='Third slide')
      // 검색박스
      .box
        #exp Find your next experience
        |     
        .container
          form.form-inline(action='#', method='POST')
            .searchbar
              .input-group.custom-search-form
                input.form-control1(type='text', placeholder='Search events or category')
                |             
                .input-group.custom-search-form
                  input.form-control2(type='text', placeholder='City or Location')
                  |               
                  select.form-control
                    option All Dates
                    |                                     
                    option Today
                    |                                     
                    option Tomorrow
                    |                                     
                    option This Week
                    |                                     
                    option This Weekend
                    |                                     
                    option Next Week
                    |                                     
                    option Next Month
                  |               
                  button#button.btn.btn-default(type='button') SEARCH
      |   
      .Pop
        | Popular Events in 
        a(href='#') Republic of Korea
      // 카드
      .container
        .card-group
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/11.jpg', alt='Card image cap')
              |           
              span.dollars $90 - $115
              |           
              .card-body
                .card-date FRI, NOV 17 8:00 AM
                |             
                .card-title KORCOS 2017 Conference and Workshops at Chadwick International
                |             
                .card-place Chadwick International, Songdo
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #FamilyEducation
                  a.hash(href='#') #Confer...
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
          |       
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/22.jpg', alt='Card image cap')
              |           
              span.dollars FREE
              |           
              .card-body
                .card-date SAT, AUG 4 7:00 PM
                |             
                .card-title Super Spectacular Korea Reunion
                |             
                .card-place Incheon, Incheon
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #FoodDrink
                  a.hash(href='#') #Party
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
          |       
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/33.jpg', alt='Card image cap')
              |           
              span.dollars $18 - $25
              |           
              .card-body
                .card-date FRI, OCT 27 6:00 PM
                |             
                .card-title Startup Weekend Incheon 2017 (EdTech)
                |             
                .card-place Incheon Global Campus (SUNY C103, B...)
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #Business
                  a.hash(href='#') #Class
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
          |       
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/44.jpg', alt='Card image cap')
              |           
              span.dollars FREE
              |           
              .card-body
                .card-date SAT, OCT 21 9:00 AM &amp; 9 MORE
                |             
                .card-title Dwight School Seoul - Family Photos Day 2017
                |             
                .card-place The Gallery
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #FamilyEducation
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
          |       
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/55.jpg', alt='Card image cap')
              |           
              span.dollars FREE
              |           
              .card-body
                .card-date WED, NOV 15 9:00 AM
                |             
                .card-title Road System Resilience to Climate Change &amp; Extreme Weather Events
                |             
                .card-place Korea International Exhibition &amp; Conven...
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #Business
                  a.hash(href='#') #Class
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
          |       
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/66.jpg', alt='Card image cap')
              |           
              span.dollars $750
              |           
              .card-body
                .card-date FRI, OCT 20 7:00 PM
                |             
                .card-title Grease, School Edition - October 20, 2017
                |             
                .card-place Seoul Foreign School | &#xC11C;&#xC6B8;&#xC678;&#xAD6D;&#xC778;&#xD559;&#xAD50;
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #Arts
                  a.hash(href='#') #Performance
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
          |       
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/77.jpg', alt='Card image cap')
              |           
              span.dollars FREE
              |           
              .card-body
                .card-date SAT, OCT 21 7:00 PM
                |             
                .card-title Grease, School Edition - October 20, 2017
                |             
                .card-place Seoul Foreign School | &#xC11C;&#xC6B8;&#xC678;&#xAD6D;&#xC778;&#xD559;&#xAD50;
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #Arts
                  a.hash(href='#') #Performance
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
          |       
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/88.jpg', alt='Card image cap')
              |           
              span.dollars FREE
              |           
              .card-body
                .card-date TUE, NOV 7 3:00 PM
                |             
                .card-title Asia Privacy Bridge Forum in Fall 2017
                |             
                .card-place Baekyangnuri, Yonsei University; Seoul
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #Government
                  a.hash(href='#') #Conference
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
          |       
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/99.jpg', alt='Card image cap')
              |           
              span.dollars FREE
              |           
              .card-body
                .card-date SAT, OCT 14 9:15 AM &amp; 14 MORE
                |             
                .card-title Seoul Foreign School - Family Photos Day 2017
                |             
                .card-place Lyso Black Box
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #FamilyEducation
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
          |       
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/100.jpg', alt='Card image cap')
              |           
              span.dollars FREE
              |           
              .card-body
                .card-date THU, NOV 9 6:00 PM
                |             
                .card-title APSIA: Graduate School Fair, Seoul
                |             
                .card-place Millennuim Seoul Hilton
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #Government
                  a.hash(href='#') #Networking
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
          |       
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/111.jpg', alt='Card image cap')
              |           
              span.dollars FREE
              |           
              .card-body
                .card-date TUE, OCT 31 10:00 AM
                |             
                .card-title On the Road: Coffee with Carlson School MS Programs in Seoul
                |             
                .card-place Starbucks, Seoul
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #Government
                  a.hash(href='#') #Networking
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
          |       
          .col-md-4.col-sm-6
            .card.h-100
              img.card-img-top(src='images/1222.jpg', alt='Card image cap')
              |           
              span.dollars FREE
              |           
              .card-body
                .card-date SAT, NOV 4 10:00 AM
                |             
                .card-title MTTM Ignite Conference
                |             
                .card-place culpepper Christian Servicemen Center...
              |           
              .card-footer
                small.text-muted
                  a.hash(href='#') #Spirituality
                  a.hash(href='#') Conference
                |             
                .grey
                  img.grey_up(src='images/upload.png', onmouseover='this.src="images/upload_hover.png"', onmouseout='this.src="images/upload.png"', alt='up')
                  |               
                  img.grey_book(src='images/bookmark.png', onmouseover='this.src="images/bookmark_hover.png"', onmouseout='this.src="images/bookmark.png"', alt='book')
      |   
      .See SEE MORE
      |   
      .Pop Browse by Top Categories
      |   
      .container
        .imgscale
          .row
            .col-md-8.col-sm-12
              .imagecard
                img.card-img(src='images/music.jpeg', alt='Card image')
                |             
                .card-img-overlay
                  h4.card-title2 Music
                  |               
                  p.card-text2 Intimate house concert, major music festivals, and the occasional dance party
            |         
            .col-md-4.col-sm-6
              .imagecard
                img.card-img(src='images/food.jpeg', alt='Card image')
                |             
                .card-img-overlay
                  h4.card-title2 Food &amp; Drink
                  |               
                  p.card-text2 Dinner paries, tasting, and big-time festivals
            |         
            .col-md-4.col-sm-6
              .imagecard
                img.card-img(src='images/classes.jpg', alt='Card image')
                |             
                .card-img-overlay
                  h4.card-title2 Classes
                  |               
                  p.card-text2 Enlightening seminars, technical workshops, and fitness classes
            |         
            .col-md-4.col-sm-6
              .imagecard
                img.card-img(src='images/arts.jpg', alt='Card image')
                |             
                .card-img-overlay
                  h4.card-title2 Arts
                  |               
                  p.card-text2 Plays, comedy nights, art exhibitions and flim festivals
            |         
            .col-md-4.col-sm-6
              .imagecard
                img.card-img(src='images/parties.jpg', alt='Card image')
                |             
                .card-img-overlay
                  h4.card-title2 Parties
                  |               
                  p.card-text2 Casual happy hours, singles nights, and all-night celebrations
            |         
            .col-md-4.col-sm-6
              .imagecard
                img.card-img(src='images/sports.jpg', alt='Card image')
                |             
                .card-img-overlay
                  h4.card-title2 Sports &amp; Wellness
                  |               
                  p.card-text2 Obstacle races, drop-in yoga calsses, and the big game
            |         
            .col-md-8.col-sm-12
              .imagecard
                img.card-img(src='images/Networking.jpg', alt='Card image')
                |             
                .card-img-overlay
                  h4.card-title2 Networking
                  |               
                  p.card-text2 Busines mixer, hobby meetups, and panel discussions
      |   

      // Optional JavaScript
      // jQuery first, then Popper.js, then Bootstrap JS
      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
      |       
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
      |       
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
